@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trade Winds", cursive;
  background: url(images/DALLE-bg.png) no-repeat center bottom fixed;
  background-color: black;
}
/* ================ Nav ================ */
.navbar-brand {
  font-size: 3rem;
}
.navbar-nav {
  font-size: 1.5rem;
}

/* ============= Video Player ===========*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.videos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video {
  position: relative;
  top: 50px;
  height: 90vh;
}

/* Player Controls */
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  color: white;
  opacity: 0.8;
  transition: opacity 0.2s;
}
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}
.slider-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.seek_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83a9ff;
  -webkit-transition: 0.2s;
  transition: opacity.2s;
}
.seek_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774ff;
  cursor: pointer;
  border-radius: 100%;
}
.seek_slider:hover {
  opacity: 1;
}
.seek_slider {
  width: 90%;
}

.current-time,
.total-duration {
  color: white;
  padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}
.controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.video-name {
  display: none;
}
.download {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  bottom: 15px;
  right: 50px;
}
